{
  "codeConnect": {
    "label": "React",
    "include": [
      "src/client/components/**/*"
    ],
    "exclude": [
      "src/client/components/ui/**"
    ],
    "parser": "react",
    "importPaths": {
      "src/client/components/*": "@/components",
      "src/client/lib/*": "@/lib",
      "src/client/hooks/*": "@/hooks"
    },
    "paths": {
      "@/components": [
        "src/client/components"
      ],
      "@/lib": [
        "src/client/lib"
      ],
      "@/hooks": [
        "src/client/hooks"
      ]
    },
    "documentUrlSubstitutions": {
      "<FIGMA_COMPONENT_NAME>": "https://figma.com/design/${FIGMA_FILE_ID}"
    }
  }
}

